/* Scrollbar */
::-webkit-scrollbar {
	height: 8px;
	width: 10px;
}
::-webkit-scrollbar:hover {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: transparent;
	opacity: 0.4;
}
::-webkit-scrollbar-thumb {
	background: rgb(0,0,0,0.4);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(0,0,0,0.6);
}

/* Animaciones Barra Superior */
@keyframes barraSupFondo {
    from { background-color: rgba(255, 255, 255, 0.9); }
    to { background-color: rgba(31, 157, 239, 1); }
}
@keyframes barraSupFondoBack {
    from { background-color: rgba(31, 157, 239, 1); }
    to { background-color: rgba(255, 255, 255, 0.9); }
}
@keyframes barraSupLogo1Mostrar {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes barraSupLogo1Ocultar {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes barraSupLogo2Mostrar {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes barraSupLogo2Ocultar {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes barraSupBoton {
    from { color: rgba(31, 157, 239, 0.8); }
    to { color: rgba(255, 255, 255, 0.8); }
}
@keyframes barraSupBotonBack {
    from { color: rgba(255, 255, 255, 0.8); }
    to { color: rgba(31, 157, 239, 0.8); }
}
/* Animaciones Header */
 @keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}

/* Animaciones Contenido */
@keyframes fondo {
    from { background-color: rgba(31, 157, 239, 0.8); }
    to { background-color: rgba(255, 255, 255, 0.8); }
}
@keyframes fondoBack {
    from { background-color: rgba(255, 255, 255, 0.8); }
    to { background-color: rgba(31, 157, 239, 0.8); }
}
@keyframes logo1Mostrar {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes logo1Ocultar {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes logo2Mostrar {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes logo2Ocultar {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes titulo {
    from { color: rgba(255, 255, 255, 0.8); }
    to { color: rgba(31, 157, 239, 0.8); }
}
@keyframes tituloBack {
    from { color: rgba(31, 157, 239, 0.8); }
    to { color: rgba(255, 255, 255, 0.8); }
}
@keyframes boton {
    from { color: rgba(255, 255, 255, 0.8); }
    to { color: rgba(31, 157, 239, 0.8); }
}
@keyframes botonBack {
    from { color: rgba(31, 157, 239, 0.8); }
    to { color: rgba(255, 255, 255, 0.8); }
}

/* Animaciones Cartas */
@keyframes visible {
    from { transform: translateY(350px); }
    to { transform: translateY(0px); }
}

/* 
#2d91cf
rgb(31, 157, 239)
*/
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: poppins;
}
/* Barra Superior */
    #barraSup {
        height: 50px;
        width: 100vw;
        margin: 0;
        padding: 15px;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: fixed;
        background-color: white;
        z-index: 999;
    }
    body.scrollDown #barraSup {
        animation-name: barraSupFondo;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    body.scrollUp #barraSup {
        animation-name: barraSupFondoBack;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
        #barraSupLogo {
            height: 50px;
            width: 50px;
            position: relative; 
            margin-right: 20px;
        }
            #barraSupLogo img {
                height: 50px;
                width: 50px;
                margin: 0;
                padding: 0;
                position: absolute;
                left: 0; 
            }
                #barraSupLogo img#BRlogo2 {
                    opacity: 0;
                }
                body.scrollDown #barraSupLogo img#BRlogo1 {
                    animation-name: barraSupLogo1Ocultar;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
                body.scrollUp #barraSupLogo img#BRlogo1 {
                    animation-name: barraSupLogo1Mostrar;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
                body.scrollDown #barraSupLogo img#BRlogo2 {
                    animation-name: barraSupLogo2Mostrar;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
                body.scrollUp #barraSupLogo img#BRlogo2 {
                    animation-name: barraSupLogo2Ocultar;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
        #barraSup button {
            margin: 0;
            margin-right: 15px;
            padding: 5px;
            border: 0;
            background-color: transparent;
            color: 2d91cf;
        }
            body.scrollDown #barraSup button {
                animation-name: barraSupBoton;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
            body.scrollUp #barraSup button {
                animation-name: barraSupBotonBack;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
            #barraSup.mini {
                padding: 10px 15px;
            }
                #barraSup.mini #barraSupLogo {
                    height: 40px;
                    width: 40px;
                }
                    #barraSup.mini img {
                        height: 40px;
                        width: 40px;
                    }
    #contenido {
        width: 100vw;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
        /* Header */
        #header {
            height: calc(100vh - 80px);
            width: 100vw;
            margin: 0;
            padding: 0;
            padding-top: 80px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            background-color: rgb(31, 157, 239, 0.8);
        }
            body.scrollDown #header {
                animation-name: fondo;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
            body.scrollUp #header {
                animation-name: fondoBack;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
            #headerLogo {
                height: 345px;
                width: 291.91px;
                position: relative;
                margin-right: 15px;
                margin-bottom: 40px;
            }
                #header img#logo1, #header img#logo2 {
                    height: 345px;
                    position: absolute;
                    left: 0;
                    z-index: 800;
                }
                #header img#logo2 {
                    opacity: 0;
                }
                    body.scrollDown #contenido #header img#logo1 {
                        animation-name: logo1Ocultar;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                    }
                    body.scrollUp #contenido #header img#logo1 {
                        animation-name: logo1Mostrar;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                    }
                    body.scrollDown #contenido #header img#logo2 {
                        animation-name: logo2Mostrar;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                    }
                    body.scrollUp #contenido #header img#logo2 {
                        animation-name: logo2Ocultar;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                    }
            #headerTxt {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                height: 90px;
                overflow: hidden;
                margin-left: 15px;
            }
                #header h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 30px;
                    color: white;
                    text-align: center;
                    display: flex;
                }
                body.scrollDown #contenido #header h2 {
                        animation-name: titulo;
                        animation-duration: 1s;
                        animation-fill-mode: forwards;
                }

                #cambioTxt {
                    margin-top: -20px;
                    padding: 0;
                    padding-left: 8px;
                    text-align: left;
                    list-style: none;
                    animation-name: change;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
               }
                .opcCambioTxt {
                    font-size: 30px;
                    line-height: 85px;
                    margin: 0;
               }
            
                #header button {
                    position: absolute;
                    top: 65px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    border-bottom: 2px solid white;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-size: 20px;
                }
                body.scrollDown #contenido #header button {
                    animation-name: boton;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
                #header button:hover {
                    margin-top: -1px;
                    border-bottom: 3px solid white;
                }
        /* Contenido */
        #divCartas {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            #divCartas #titulo {
                margin-top: 120px;
                margin-bottom: -100px;
                font-weight: 500;
                font-size: 32px;
            }
            #divCartas .carta {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 160px;
                border-radius: 10px;
                border: 2.5px solid #DDDDDD;
                padding: 0 25px;
                box-shadow: 26px 17px 6px #DDDDDD;
                transform: translateY(350px);
                z-index: 800;
                opacity: 0;
            }
                #divCartas .carta.visible {
                    animation: visible;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    opacity: 1;
                }
                #divCartas .carta img {
                    height: 400px;
                }
                #divCartas .carta h3 {
                    font-weight: 100;
                }
        /* Info */
        #divInfo {
            height: 300px;
            width: 70vw;
            margin-left: 15vw;
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: 2.5px solid #DDDDDD;
            box-shadow: 10px 5px 6px #DDDDDD;
        }
            #divInfo h2 {
                font-weight: 100;
                font-size: 35px;
                margin-bottom: 15px;
            }
            #divInfo h2:not(:nth-child(1)) {
                color: #2d91cf;
                padding: 5px 34px;
                border-radius: 48px;
                box-shadow: 0 2px 5px #00000080;
                cursor: pointer;
                font-size: 23px;
            }
                #divInfo h2:not(:nth-child(1)):hover {
                    text-decoration: underline;
                }
        /* Pie */
        #divPie {
            height: 174px;
            width: 100vw;
            margin-top: 150px;
            display: flex;
            background-color: rgba(31, 157, 239, 0.9);
            z-index: 999;
        }
            #divPie #opc1, #divPie #opc2 {
                width: calc(50vw - 75px);
            }
            #divPie #divRedes {
                width: 150px;
                margin-top: 10px;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
            }
                #divPie #divRedes .btnRedes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    cursor: pointer;
                    border-radius: 8px;
                }
                    #divPie #divRedes .btnRedes.whats:hover {
                        background-color: rgb(255,255,255,0.8)!important;
                        border-color: rgb(255,255,255,0.9)!important;
                        color: #0DC143!important;
                    }
                    #divPie #divRedes .btnRedes.insta:hover {
                        background-color: rgb(255,255,255,0.8)!important;
                        border-color: rgb(255,255,255,0.9)!important;
                        color: #8a3ab9!important;
                    }
                    #divPie #divRedes .btnRedes.faceb:hover {
                        background-color: rgb(255,255,255,0.8)!important;
                        border-color: rgb(255,255,255,0.9)!important;
                        color: #4267B2!important;
                    }
                    #divPie #divRedes .btnRedes p {
                        color: white;
                        font-family: Montserrat;
                        font-weight: bold;
                    }
                        #divPie #divRedes .btnRedes.whats:hover p {
                            color: #0DC143!important;
                        }
                        #divPie #divRedes .btnRedes.insta:hover p {
                            color: #8a3ab9!important;
                        }
                        #divPie #divRedes .btnRedes.faceb:hover p {
                            color: #4267B2!important;
                        }
                    #divPie #divRedes .btnRedes button {
                        margin: 0;
                        margin-right: 5px;
                        padding: 1px 6px 1px 6px;
                        border: 0;
                        background: transparent;
                        height: 35px;
                        width: 35px;
                        margin-right: 5px;
                        cursor: pointer;
                    }
                        #divPie #divRedes .btnRedes button i {
                            font: normal normal normal 20px/1 FontAwesome;
                            color: white;
                        }
                            #divPie #divRedes .btnRedes.whats:hover button i {
                                color: #0DC143!important;
                            }
                            #divPie #divRedes .btnRedes.insta:hover button i {
                                color: #8a3ab9!important;
                            }
                            #divPie #divRedes .btnRedes.faceb:hover button i {
                                color: #4267B2!important;
                            }